.nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;

    &__text {
        margin-right: 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}